{% extends 'base.html' %}

{% block title %}

  Популярные породы кошек

{% endblock %}




{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/abis.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Абиссинская кошка</h5>
            <p class="card-text">Абиссинская порода — это элегантные кошки средних размеров с сильными грациозными телами и длинными стройными лапами. Для этой породы характерны округлая клиновидная форма головы с большими миндалевидными глазами и уши с небольшими кисточками на кончиках. Короткая прилегающая шерсть абиссинской кошки отличается тикингом — смешением цветов на каждом из волосков. Наиболее популярный окрас — «дикий» (ruddy), но также встречаются и другие виды.

</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/bengal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Бенгальская кошка</h5>
            <p class="card-text">Бенгальские кошки — любящие и преданные создания. Игривы и энергичны, при этом демонстрируют недюжинный ум. Кажется, оценивают все вокруг, задаваясь вопросом: «Можно ли с этим поиграть?». Проворны, любят карабкаться и высоко забираться, а также охотиться.

Порода унаследовала впечатляющий экстерьер от своих диких предков — азиатских леопардовых кошек, а общительность и покладистый характер — от домашних прародителей. Какая история стоит за происхождением бенгальцев, на что следует обратить внимание при воспитании и как правильно ухаживать за представителями породы — рассказываем в статье.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/birma.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Бирманская</h5>
            <p class="card-text">Бирманская кошка — довольно большая кошка плотного телосложения с короткими ногами. Имеет широкую голову и уши среднего размера. Порода полудлинношерстная, с более темным окрасом пятен, морды, лап, ушей и хвоста при светлом цвете тела. У бирманской кошки голубые глаза и четыре белых «носочка» на лапах. Передние «перчатки» покрывают только нижнюю часть лапы, а задние «носочки» — более длинные. Бирманские кошки бывают различных окрасов.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

    <!-- Повторение остальных карточек -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/brit.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Британская короткошерстная</h5>
            <p class="card-text">Британская короткошёрстная кошка — крупная порода, имеющая массивное, коренастое телосложение. У представителей этой породы широкая грудная клетка и толстый хвост. Морда, уши, глаза и голова имеют округлую форму. У этих кошек короткий широкий нос и массивная нижняя челюсть. Шерсть — короткая и густая, без пушистости, бывает более ста окрасов и множество комбинаций пятен.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/burma-korichnevyj-okras-min.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Бурманская кошка</h5>
            <p class="card-text">Бурма, или бурманская кошка, — средних размеров, с круглой головой и элегантным, но в то же время мускулистым телом. Эта порода не настолько крупна и коренаста, как британская короткошёрстная, но, в то же время, уступает в изящности сиамской кошке. Глаза, большие и блестящие, могут быть любых оттенков жёлтого. Кажется, что они меняют цвет в зависимости от освещения. Хвост — прямой с закруглённой кисточкой на конце. Отличительная особенность этой породы — красивая лоснящаяся шерсть, прилегающая к телу. У бурманской кошки может быть 10 окрасов. При этом задняя часть тела, включая лапы и хвост, всегда темнее грудки, спины и передних лап.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/mau.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Египетский мау</h5>
            <p class="card-text">Египетский мау — это элегантная кошка атлетического телосложения с пятнистым окрасом. Обязательным является рисунок в виде скарабея на голове животного: тёмная буква М над глазами и W на уровне ушей. Также признаком породы является «макияж богини» — длинные линии, проходящие от глаз к скулам. Глаза у мау подвижные, крупные, зелёного цвета; шерсть блестящая, короткая или средней длины. Внешний вид кошек мау практически не изменился за 3000 лет.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/kat.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Мейн-кун</h5>
            <p class="card-text">Мейн-кун — самая крупная порода кошек. Она отличается мощным, мускулистым телом и крепкими ногами. Голова клиновидной формы. Уши — большие и высокие. Шерсть длинная и густая, состоит из подшерстка, покрытого плотной блестящей водонепроницаемой шерстью. Волоски на голове, шее и плечах короче и увеличиваются в длину ближе к нижней части спины, на боках и хвосте. Шерсть на животе и «штанах» густая и лохматая. Шея окружена кольцом шерсти, который начинается у основания ушей. У самцов, по сравнению с самками, шея более массивная. Волосы на хвосте длинные и ниспадающие. Кончики ушей украшены кисточками. Лапы также украшены кисточками, в результате чего получается эффект «снегоступов». Мейн-кун имеет более 30 разновидностей окраса.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/norveg.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Норвежская лесная</h5>
            <p class="card-text">Норвежская лесная — крупная порода кошек. Имеет длинное, мускулистое и хорошо сложённое тело. У этих кошек — длинные ноги и пушистый хвост. Голова — удлинённая и треугольная, с прямым профилем и высоко посаженными ушами, имеющими кисточки на кончиках. Имеет полудлинную шерсть, которая становится немного короче летом, а также пуховый подшёрсток, обладающий водоотталкивающими свойствами. Норвежская лесная носит шерстяную «манишку» на груди, пушистые «штанишки» и кисточки между подушечками лап. У этой породы кошек бывают различные окрасы, кроме шоколадного, лилового или типичного для сиамской кошки окраса колор-пойнт. Также допустимо наличие белых отметин на лапах, груди, животе или морде животного. Цвет глаз встречается разный.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/pers.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Персидская длинношерстная</h5>
            <p class="card-text">Персидская длинношерстная кошка — порода среднего размера, с коренастым телом и с массивной головой. Уши — небольшие, широко посаженные. У этой кошки маленькая открытая мордочка с большими яркими глазами. Имеет короткие и сильные лапы с крупными округлыми основаниями и кисточками между подушечек. Шерсть — длинная, густая и блестящая, с плотным мягким подшерстком. Имеет короткий, но необыкновенно пушистый хвост. Допускаются разные варианты окрасов и пятнистости.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img src="../static/image/siam.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Сиамская</h5>
            <p class="card-text">Сиамская кошка — это кошка среднего размера с длинным, стройным и грациозным телом. Тело — хорошо сбалансированное, атлетического строения, лапы — стройные, аккуратные, небольшого размера. Спереди голова этой кошки напоминает треугольник, сужающийся прямыми линиями к утонченной морде. Уши — крупные и заостренные. Если мысленно провести линию между крыльями носа и кончиками ушей, получится равносторонний треугольник. Форма глаз — восточного типа, с наклоном по направлению к носу. Длинный, сужающийся к кончику хвост не имеет завитков. Короткая, красивая, прилегающая к телу шерсть имеет бледный тон с более насыщенными темными пятнами в зоне маски морды, ушей, лап и хвоста. Она бывает различных окрасов. Цвет глаз при любых окрасах и вариантах пятнистости всегда остается ярким, насыщенно-голубым.</p>
            <a href="#" class="btn btn-primary">{{link}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}