{% extends 'shablon1.html' %}

{% block title %}

  Фильмы про Хоббита

{% endblock %}




{% block content %}

  <div class="container">
    <div class="row">
      <div class="card">
        <img src="../static/image/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Хоббит: Нежданное путешествие</h5>
          <p class="card-text">Хоббит Бильбо Бэггинс пускается в грандиозный поход, целью которого является отвоевание утраченного королевства гномов Эребор у дракона Смауга. Совершенно неожиданно с хоббитом налаживает контакт волшебник Гэндальф Серый. Так Бильбо находит себя и присоединяется к компании тринадцати гномов, возглавляемых легендарным воином Торином Дубощитом. Их путешествие пройдёт через Дикий Край, предательские земли, населенные гоблинами и орками, смертоносными варгами, гигантскими пауками, меняющим шкуры народом и волшебниками.</p>
          <a href="#" class="btn btn-primary">{{link}}</a>
        </div>
      </div>

      <div class="card">
        <img src="../static/image/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Хоббит: Пустошь Смауга</h5>
          <p class="card-text">Продолжение путешествия хоббита Бильбо Бэггинса, волшебника Гэндальфа и 13 отважных гномов. Их компания должна добраться до Одинокой горы. А там они встретятся с величайшей опасностью из всех — созданием куда более ужасающим, чем все их прошлые противники, чудовищем, которое проверит на прочность не только их мужество, но крепость их дружбы и правильность выбранного пути, — драконом Смаугом.</p>
          <a href="#" class="btn btn-primary">{{link}}</a>
        </div>
      </div>

      <div class="card">
        <img src="../static/image/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Хоббит: Битва пяти воинств</h5>
          <p class="card-text">Когда отряд из тринадцати гномов нанимал хоббита Бильбо Бэгинса в качестве взломщика и четырнадцатого, «счастливого», участника похода к Одинокой горе, Бильбо полагал, что его приключения закончатся, когда он выполнит свою задачу - найдет сокровище, которое так необходимо предводителю гномов Торину. Путешествие в Эребор, захваченное драконом Смаугом королевство гномов, оказалось еще более опасным, чем предполагали гномы и даже Гэндальф - мудрый волшебник, протянувший Торину и его отряду руку помощи.</p>
          <a href="#" class="btn btn-primary">{{link}}</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

